<ion-header>
  <img src="/assets/img/logo.png" alt="logo">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Informe de producción</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">BLOQUE</th>
        <th scope="col">VARIEDAD</th>
        <th scope="col">FECHA DESDE</th>
        <th scope="col">FECHA HASTA</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <select
                  name="codigo_bloque"
                  id="codigo_bloque"
                  class="form-control"
                  [(ngModel)]="codigo_bloque" ng-click="getVarirtyByBlock()">
            <option *ngFor="let method of blockData.data" [value]="method.codigo" >{{ method.nombre }}</option>
          </select>
        </td>
        <td>
          <select
                  name="id_variedad"
                  id="id_variedad"
                  class="form-control"
                  [(ngModel)]="codigo_variedad">
            <option *ngFor="let method of varietyData.data" [value]="method.codigo_variedad">{{ method.nombre }}</option>
          </select>
        </td>
        <td>
          <input type="text" class="form-control" value="2019-11-01" [(ngModel)]="fecha_inicio" placeholder="Fecha Inicio" aria-label="Fecha Inicio" aria-describedby="addon-wrapping">

        </td>
        <td>
          <input type="text" class="form-control" value="2019-12-01" [(ngModel)]="fecha_fin" placeholder="Fecha Fin" aria-label="Fecha Fin" aria-describedby="addon-wrapping">

        </td>
      </tr>
      <tr>
        <th colspan="4">
          <ion-button (click)="getInventory()" color="primary" shape="round">Consultar</ion-button>
        </th>
      </tr>
      </tbody>
    </table>
  </ion-card>
  <ion-card>
    <table class="table" id="inform" >
      <thead>
      <tr>
        <th scope="col">FECHA DESDE</th>
        <th scope="col">FECHA HASTA</th>
        <th scope="col">BLOQUE</th>
        <th scope="col">VARIEDAD</th>
        <th scope="col">TALLOS</th>
        <th scope="col">PRODUCTIVIDAD X PLANTA</th>
        <th scope="col">PRODUCTIVIDAD X M2</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of inventoryData.data">
        <td>{{ item.fecha_desde }}</td>
        <td>{{ item.fecha_hasta }}</td>
        <td>{{ item.cod_bloque }}</td>
        <td>{{ item.codigo_variedad }}</td>
        <td>{{ item.numero_tallos }}</td>
        <td>{{ item.productividad_planta }}</td>
        <td>{{ item.productividad_mtrs }}</td>

      </tr>
      </tbody>

    </table>

  </ion-card>
</ion-content>