<ion-header>
  <img src="/assets/img/logo.png" alt="logo">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Carga de Archivos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="archive"></ion-icon>
      Haga click en la siguiente funcionalidad para descargar la base de datos del servidor.
      <br>
      <ion-button (click)="download()" color="primary" shape="round">Download</ion-button>
      <div class="loader"></div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informe de producción</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="stats"></ion-icon>
      Para visualizar el Informe de producción, haga click en la siguiente funcionalidad.
      <br>
      <ion-button (click)="getInventory()" color="primary" shape="round">Ver</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <table class="table" id="inform" style="display:none"> 
      <thead>
        <tr>
          <th scope="col">Fecha granel</th>
          <th scope="col">Código de variedad</th>
          <th scope="col">Cantidad de tallos</th>
          <th scope="col">Grado</th>
          <th scope="col">Código de bloque</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of inventoryData.data">
          <td>{{ item.fecha_granel }}</td>
          <td>{{ item.codigo_variedad }}</td>
          <td>{{ item.numero_tallos }}</td>
          <td>{{ item.grado }}</td>
          <td>{{ item.cod_bloque }}</td>

        </tr>
      </tbody>
    </table>
  </ion-card>
 
  
</ion-content>