ion-header{
    background-color: #2960a3;
}
/*
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/assets/img/pageLoader.gif') 25% 25% no-repeat rgb(249,249,249);
    opacity: .8;
}
*/