<ion-header>
  <img src="/assets/img/logo.png" alt="logo">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Carga de Archivos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="archive"></ion-icon>
      Haga click en la siguiente funcionalidad para desgargar la base de datos del servidor.
      <br>
      <ion-button (click)="download()" color="primary" shape="round">Download</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informe de producción</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="stats"></ion-icon>
      Para visualizar el Informe de inventario, haga click en la siguiente funcionalidad.
      <br>
      <ion-button (click)="inform()" color="primary" shape="round">Ir</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="createDB()">
    Create DataBase
  </ion-button>
  <ion-button expand="block" (click)="createTable()">
    Create Table
  </ion-button>
  <ion-button expand="block" (click)="getRows()">
    Get Rows
  </ion-button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">cod_malla</th>
        <th scope="col">codigo_variedad</th>
        <th scope="col">codigo_bloque</th>
        <th scope="col">numero_tallos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of inventoryData.data">
        <td>{{ item.cod_malla }}</td>
        <td>{{ item.codigo_variedad }}</td>
        <td>{{ item.cod_bloque }}</td>
        <td>{{ item.numero_tallos }}</td>
      </tr>
    </tbody>
  </table>
</ion-content>